/* Block styling */
.block_course_overview_lite div.flush {
    clear: both;
}
.block_course_overview_lite #course_list {
    width: 100%;
}
.block_course_overview_lite #ajaxcourse {
    margin: auto;
    width: 70px;
}
.block_course_overview_lite .coursechildren {
    font-weight: normal;
    font-style: italic;
}
.block_course_overview_lite .content {
    margin: 0;
}
.block_course_overview_lite .content .notice {
    margin: 5px 0;
}
.block_course_overview_lite .hidden_overview {
    display: none;
}
.block_course_overview_lite #course_list_header {
    height: 2.3em;
    margin-bottom: 4px;
}
.block_course_overview_lite #course_overview_lite_legend {
    float: right;
    padding:5px;
}

/* Course listing */
.block_course_overview_lite .coursebox {
    width: auto;
    padding: 4px 8px;
    margin: 10px;
}
.block_course_overview_lite .coursebox .overview {
    padding: 4px;
}
.block_course_overview_lite .coursebox .overview .name {
    font-size: 14px;
    border-bottom: 1px solid #dcdcdc;
    padding: 4px 6px;
    font-weight: bold;
}
.block_course_overview_lite .coursebox .overview .info,
.block_course_overview_lite .coursebox .overview .details {
    padding: 4px 10px;
    font-style: italic;
}
/* Simple and detail buttons */
.block_course_overview_lite .overview-tabs {
    list-style: none;
    margin: 0 1em;
    display: inline-block;
}
.block_course_overview_lite .overview-tabs li {
    display: block;
    float: left;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
}
.block_course_overview_lite .overview-tabs li div {
    padding: .4em .75em;
    font-size: 1em;
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
    background: #e1e1df;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
    border-radius: 0;
}
.block_course_overview_lite .overview-tabs li .selected {
    background: #005AFF;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    color: #FFF;
}
.block_course_overview_lite .overview-tabs li:first-child div {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.block_course_overview_lite .overview-tabs li:last-child div {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

/* Welcome/Alert area */
.block_course_overview_lite .welcome_area {
    width: 100%;
    padding-bottom: 5px;
}

.block_course_overview_lite .welcome_message {
    float: left;
    padding: 10px;
    vertical-align: middle;
    border-collapse: separate;
    clear: none;
}
.dir-rtl .block_course_overview_lite .welcome_message {
    float:right;
}

/* Course titles */
.block_course_overview_lite .content h3.title {
    float: left;
    margin: 0.2em 0 .2em 0;
    position: relative;
    font-size: 1.2em;
    text-transform: none;
    border-bottom: none;
    width: 90%;
    display: inline;
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.editing .block_course_overview_lite h3.title {
    width: 80%;
}
.dir-rtl .block_course_overview_lite .content h3.title {
    float:right;
}
.block_course_overview_lite .course_title {
    position: relative;
}
.yui3-dd-proxy.block_course_overview_lite .course_title {
    padding-left: 20px;
    line-height: 2em;
}

/* Course overview styling */
.block_course_overview_lite .hide_course {
    cursor: pointer;
    float: right;
    padding: 8px 5px;
    line-height: 2em;
}
.block_course_overview_lite .currentcourse {
    background-color: #FFFAB7;
}
.block_course_overview_lite .userhidden {
    background-color: #cccccc;
}
.block_course_overview_lite .userhidden a {
    color: #aaaaaa;
}

/* Hide and move controls */
.block_course_overview_lite .coursemovetarget {
    display: block;
    height: 1em;
    margin-bottom: 1em;
    border-width: 2px;
    border-style: dashed;
}
.editing .block_course_overview_lite .move {
    cursor: move;
    float: right;
    padding: 5px;
    line-height: 2em;
}
.dir-rtl.editing .block_course_overview_lite .move {
    cursor: move;
    float:left;
    padding: 2px 10px;
}
.editing .block_course_overview_lite .moveicons {
    display: block;
    float: right;
    padding-right: 5px;
    padding-left: 10px;
}
.dir-rtl.editing .block_course_overview_lite .moveicons {
    float:right;
}
.editing .block_course_overview_lite .moveup {
    padding-right: 5px;
}
.editing .block_course_overview_lite .moveupspacer {
    float: right;
    width: 14px;
}
.dir-rtl.editing .block_course_overview_lite .moveupspacer {
    float:left;
}
.editing .block_course_overview_lite .movedownspacer {
    float: left;
    width: 14px;
}
.dir-rtl.editing .block_course_overview_lite .movedownspacer {
    float:right;
}

/* Activities */
.block_course_overview_lite .activity_info {
    clear: both;
    margin: 5px 15px;
}
.dir-rtl .block_course_overview_lite .activity_info {
    margin-right: 25px;
}
.block_course_overview_lite .activity_overview {
    border-top: 1px dotted #ddd;
    padding: 2px;
}
.block_course_overview_lite .activity_overview img.iconlarge {
    vertical-align: text-bottom; margin-right: 6px;
}
.dir-rtl .block_course_overview_lite .activity_overview img.iconlarge {
    margin-left: 6px; margin-right: 0;
}

/* Single select */
.block_course_overview_lite .singleselect {
    text-align: left;
    margin: 0;
}
.dir-rtl .block_course_overview_lite .singleselect {
    text-align: right;
}
.block_course_overview_lite .content .box.notice .singleselect > form > div > label {
    display: inline;
}

@media (max-width:380px) {
    .block_course_overview_lite #course_overview_lite_legend {
        display: none;
    }
}